body {
    background-color: rgb(26, 26, 165);
    border-width: 40px;
}

#title {

}

#start {
    color: black;
    border-radius: 20%;
    border: white;
    align-items: center;
    box-shadow: whitesmoke;
    size: 200px;
}

h1 {
    font-size: 150px;
    text-align: center;
    color: cornsilk;
    font-family: 'Poiret One', cursive;
    border: 20px;
    border-color: thistle;
}

#rinkpic { 
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 450px 40px 450px; 
}

#userPoints {
    color: aliceblue;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 140px 0px 140px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#scoreboard {
    color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poiret One', cursive;
}

#text {
    color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poiret One', cursive;
    animation: text 3s 1;
}

#shoot {
    border-radius: 20%;
    background-color: black;
    color: cornsilk;
    height: 50px;
    width: 100px; 
}

#start {
    height: 50px;
    width: 100px; 
}

#restart {
    height: 50px;
    width: 100px; 
    border-radius: 20px;
}

/* #goalLight {
    border-radius: 50px;
    height: 20%;
} */

