body {
    background-color: rgb(26, 26, 165);
    border-width: 40px;
}

#start {
    background-color: black;
    color: white;
    border-radius: 20%;
    border: white;
    align-items: center;
    box-shadow: whitesmoke;
    size: 200px;
}

h1 {
    font-size: 150px;
    text-align: center;
    color: cornsilk;
    font-family: 'Poiret One', cursive;
    border: 20px;
    border-color: thistle;
}

#rinkpic { 
    flex-direction: row;
    background-position: center;
    padding: 40px 450px 40px 450px; 
}

#userPoints {
    color: aliceblue;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 140px 0px 140px;
    font-family: Arial, Helvetica, sans-serif;
    
}